extends _layouts/_default
block page
  - var page = site.data.pages.home
block body
  a.weui-btn.weui-btn_primary(href="javascript:;") 按钮
  a.weui-btn.weui-btn_disabled.weui-btn_primary(href="javascript:;") 按钮
  a.weui-btn.weui-btn_warn(href="javascript:;") 确认
  a.weui-btn.weui-btn_disabled.weui-btn_warn(href="javascript:;") 确认
  a.weui-btn.weui-btn_default(href="javascript:;") 按钮
  a.weui-btn.weui-btn_disabled.weui-btn_default(href="javascript:;") 按钮
  a.weui-btn.weui-btn_plain-default(href="javascript:;") 按钮
  a.weui-btn.weui-btn_plain-primary(href="javascript:;") 按钮

