header.header.clearfix
	.logo
		a(href="home.html")
			i.iconfont.icon-zhuzhaiwangLOGOwuwangzhi
	if page.nav_subtitle
		.nav-subtitle #{page.nav_subtitle}
	nav.nav.clearfix
		a.nav-icon.com-popup(href="javascript:void(0);")
			i.iconfont.icon-liebiao
		a.nav-icon.nav-icon-phone(href="tel:400666737")
			i.iconfont.icon-dianhua

